body
{
    margin : 0;
    text-align : center ;  
    font-family: 'Times New Roman', Times, serif;  
    min-height: 100vh;
    font-size: 20px;
    background : yellow ; 
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-class
{
    padding : 6px ; 
    min-height: 500px ; 
    width: 450px;
    display : flex ; 
    justify-content: center;
    align-items: center;
    border : 6px solid rgb(5, 5, 5) ; 
    flex-wrap : wrap ; 
    background: linear-gradient(#e66465, #9198e5);
}
.button
{ 
    flex : 1 0   calc((450px/5)) ; 
    height: calc(500px/6);   
    border : 2px solid rgba(183, 185, 29, 0.7) ; 
    background-color: black;
    color : white ; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.button:hover
{
    background: rgb(62, 62, 62);
}

.screen
{
    margin-bottom : 6px ; 
    flex : 6 0 450px ; 
    height : 120px;
    align-self : flex-start ; 
    background-color: rgb(241, 238, 238);
    color : rgb(56, 55, 55) ; 
    display : flex ; 
    flex-direction: column;
    justify-content: flex-end;
    align-items : flex-end; 
}
.screen:hover
{
    background-color: black;
    color : white ; 
}
.operands
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex : 1 0 auto ; 
    display: flex;
    justify-content: center;
    align-items: center;
}